# Archivos compilados de Python
__pycache__/
*.py[cod]
*$py.class

# Entorno virtual
env/
venv/
ENV/
.venv/

# Archivos de configuración/locales
*.env
.env.*
*.ini
*.cfg
*.egg-info/
*.log

# Archivos de pruebas
coverage.xml
htmlcov/
.tox/
.nox/
.pytest_cache/

# Configuraciones de IDEs/editores
.vscode/
.idea/
*.code-workspace

# Archivos de bases de datos y serialización
*.db
*.sqlite
*.bak
*.json

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# Documentos generados
*.pdf
*.docx
*.zip
*.tar.gz